---
import { Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'

const headings = [
  { depth: 2, slug: 'hobbies', text: 'Hobbies' },
  { depth: 2, slug: 'social-networks', text: 'Social Networks' },
  { depth: 2, slug: 'blog-infrastructure', text: 'Blog Infrastructure' }
]
---

<PageLayout title='About' {headings} comment>
  <p>Chemistry student / Entry-level researcher</p>
  <p>
    你好，我是Jerry Liangzh。
  </p>
  <p>
  <Spoiler>枣椰蜜糖！</Spoiler>
  </p>

  {/* general-talk */}
  <h2 id='hobbies'>Hobbies</h2>
  <ul>
    <li>Music: wide music preferences</li>
    <li>
      Games: wide preferences, such as mihoyo games series, Minecraft, Counter-Strike 2, Dead Cells, Slay the Spire and Strinova
    </li>
    <li>Reading: Currently reading The Grapes of Wrath and 苏霍姆林斯基选集（五卷本）</li>
    <li>Sports: badminton and running; watching Formula 1 Grand Prixs and Counter-Strike 2 matches</li>
    <li>Research interests: the preparation, synthesis, and performance study of metal-based electrocatalysts</li>
  </ul>

  {/* social-networks */}
  <h2 id='social-networks'>Social Networks</h2>
  <Substats
    stats={[
      {
        platform: 'GitHub',
        icon: 'github',
        link: 'https://github.com/jerryliangzh',
        text: 'followers',
        api: 'github/JerryLiangzh'
      },
      {
        platform: 'Zhihu',
        icon: 'zhihu',
        color: '#0084ff',
        link: 'https://www.zhihu.com/people/73-11-72-45-65',
        text: 'followers',
        count: 20
      },
      {
        platform: 'Bilibili',
        icon: 'bilibili',
        color: '#fe7398',
        link: 'https://space.bilibili.com/1314737513',
        text: 'followers',
        count: 7
      },
      {
        platform: 'ResearchGate',
        icon: 'researchgate',
        //color: '#000000',
        link: 'https://www.researchgate.net/profile/Ziheng-Liang-2',
        text: 'citations',
        count: 13
      }
    ]}
  />

  {/* about-blog */}
  <h2 id='blog-infrastructure'>Blog Infrastructure</h2>
  <Collapse title='Website history:'>
  <Timeline
    events={[
      {
        date: '2025-11-12',
        content:
          'Update to <a href="https://github.com/cworld1/astro-theme-pure/releases/tag/v4.0.9" target="_blank">Astro Theme Pure v4.0.9</a> and turn from Template to Fork'
      },
      {
        date: '2025-09-02',
        content:
          'Construction finished'
      },
      {
        date: '2025-08-31',
        content: 
          'Start building this blog using <a href="https://github.com/cworld1/astro-theme-pure/releases/tag/v4.0.7" target="_blank">Astro Theme Pure v4.0.7</a>'
      }
    ]}
  />
  </Collapse>

  <ul>
    <li>域名: <a href='https://www.aliyun.com/' target='_blank'>Ali Cloud</a></li>
    
    <li>
      框架 & 主题: <a href='https://astro.build/' target='_blank'>Astro</a> + <a
        href='https://github.com/cworld1/astro-theme-pure'
        target='_blank'>Astro Theme Pure</a>
    </li>

    <li>网站托管：<a href='https://www.cloudflare.com' target='_blank'>Cloudflare</a></li>

    <li>评论系统：<a href='https://waline.js.org' target='_blank'>Waline</a> + <a 
      href='https://vercel.com' target='_blank'>Vercel</a> + <a 
      href='https://cloud.mongodb.com' target='_blank'>MongoDB Cloud</a>
    </li>

    <li>统计：<a href='https://waline.js.org/' target='_blank'>Waline</a> + <a
        href='https://umami.is/' target='_blank'>Umami</a>
    </li>

  </ul>
</PageLayout>
